{{!-- Create Account Page --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Rate My Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">


    <!-- Main Content -->
    <div class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg text-center">
        <h1 class="text-4xl font-bold mb-6">Create an Account</h1>
        
        <!-- Registration Form -->
        <form class="max-w-md mx-auto form signupForm">
            <div class="mb-4 form-group">
                <label for="name-signup" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                <input type="text" id="name-signup" class="w-full border rounded-md py-2 px-3 form-input">
            </div>

            <div class="mb-4 form-group">
                <label for="email-signup" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                <input type="text" id="email-signup" class="w-full border rounded-md py-2 px-3 form-input">
            </div>

            <div class="mb-4 form-group">
                <label for="password-signup" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input type="password" id="password-signup" class="w-full border rounded-md py-2 px-3 form-input">
            </div>

            {{!-- <div class="mb-4 form-group">
                <label for="confirmPassword-signup" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password:</label>
                <input type="password" id="confirmPassword-signup" class="w-full border rounded-md py-2 px-3 form-input">
            </div> --}}

            <button id="signup" type="submit" class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600 transition duration-300">Create Account</button>
        </form>
    </div>
<script src="/js/signup.js" ></script>
</body>
</html>
